<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="">AK Dev</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-lg-grow-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">News</a>
        </li>
        <li class="nav-item dropdown text-light ms-lg-auto">
          <span class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Đoàn Anh Kiệt
          </span>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="">My Courses</a></li>
            <li><a class="dropdown-item" href="">My Posts</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>